body{
  background-image:url(../img/kaigai.jpg);
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}
label{
  display: inline-block;
  /* text-align: right; */
  /* width: 1px; */
}
label{
  color: black;
}
h1{
  color: black;
  font-size: 40px;
}
.record{
  text-decoration: underline;
}
input{
  position: absolute; 
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 220px;
  padding: 10px 25px;
  transition: 0.3s ease-in-out;
  font-weight: 600;
} 
.csstype{
  display: flex;
}
.cssitem{
  display: flex;
}
.cssnum{
  display: flex;
}
.cssprice{
  display: flex;
}
.cssurl{
  display: flex;
}
.btnall{
  width: 100px;
  height: 50px;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 220px;
  padding: 10px 25px;
  color: black;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background:aliceblue;
  background: linear-gradient(270deg,white , #d7cebb);
 }

 .btnitem{
  width: 100px;
  height: 50px;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 220px;
  padding: 10px 25px;
  color: black;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background:aliceblue;
  background: linear-gradient(270deg,white , #d7cebb);
 }
 .btnsb{
  width: 100px;
  height: 50px;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 220px;
  padding: 10px 25px;
  color: black;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background:aliceblue;
  background: linear-gradient(270deg,white , #d7cebb);
 }
 .btn{
  display: flex;
 }