
body{
  background-image:url(img/kaigai.jpg);
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* 主軸方向に中央寄せ */
  align-items: center;     /* 交差軸方向に中央寄せ */
  flex-direction: column;  /* 縦方向に並べる */
  margin-right: 0;
  }

  th{
    background-color: white;
    /* width: 100px; */
  }
  .btnall{
    width: 100px;
    height: 50px;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
    color: black;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background:aliceblue;
    background: linear-gradient(270deg,white , #d7cebb);
  }