
/* body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  /* background: -moz-radial-gradient(#F13F79, #FFC778); 
  background: -webkit-radial-gradient(#F13F79, #FFC778); 
  background: radial-gradient(#F13F79, #FFC778);  */
/* } */


/* tr{background-color: whitesmoke */
  /* background-color:white */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
/* }  */

